:root {
  --color-background: #28243d;
  --color-background-soft: #312d4b;
  --color-background-dark: #1f1d31;

  --color-text: #e7e3fc;
  --color-text-soft: #e7e3fcad;
  --color-text-black: #000000;

  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --radius-default: 5px;
  --radius-small: 2px;
  --radius-big: 10px;
}
