:root {
  --color-background: #28243d;
  --color-background-soft: #312d4b;
  --color-background-dark: #1f1d31;

  --color-background-light: #ffffff;

  --color-text: #e7e3fc;
  --color-text-soft: #e7e3fcad;
  --color-text-black: #000000;

  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --radius-small: 2px;
  --radius-default: 5px;
  --radius-big: 10px;
}

// Usage Media

//@include lg-desktop {} // 1200px или менее
//@include md-desktop {} // 992px или менее
//@include sm-tablets {} // 768px или менее
//@include sm-mobile {} // 480px или менее
//@include esm-mobile {} // 320px или менее
