:root {
  --color-background: #28243d;
  --color-background-soft: #312d4b;
  --color-background-dark: #1f1d31;

  --color-text: #e7e3fc;
  --color-text-soft: #e7e3fcad;

  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --radius-small: 2px;
  --radius-default: 5px;
  --radius-big: 10px;
}

[data-theme="dark"] {
  --color-background: #f4f5fa; //light
  --color-background-soft: #b1acd1;
  --color-background-dark: #1f1d31;

  --color-text: #313131;
  --color-text-soft: #1a1a1aad;

  --color-white: #000000;
  --color-white-soft: #3a3a3a;
  --color-white-mute: #2c2c2c;
}

// Usage Media

//@include lg-desktop {} // 1200px или менее
//@include md-desktop {} // 992px или менее
//@include sm-tablets {} // 768px или менее
//@include sm-mobile {} // 480px или менее
//@include esm-mobile {} // 320px или менее
